@using PortfolioManagerWASM.Models

<div class="container-fluid p-4">

    <!--New Portfolio form-->
    <EditForm Model="@newPortfolio" OnValidSubmit="OnSubmitNewPortfolio">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!--Portfolio name-->
        <div class="row">
            <InputText class="h3" id="name" @bind-Value="newPortfolio.Name" />
        </div>

        <!--Portfolio composition-->
        <div class="row row-portfolio-graph m-4">
            <!--Asset graph-->
            <div class="col-md-3 d-none d-md-block">TODO : GRAPH</div>

            <!--Asset list-->
            <div class="col-md-9">
                @if (newPortfolio.PortfolioAssets.Count > 0)
                {
                    <ul class="col-8">
                        @foreach (PortfolioAsset portfolioAsset in newPortfolio.PortfolioAssets)
                        {
                            <li class="d-flex align-items-center mb-3">
                                <p class="m-2">@portfolioAsset.FinancialAsset.Name</p>
                                @if (portfolioAsset.FinancialAsset.IconPath != null && portfolioAsset.FinancialAsset.IconPath.Length > 0)
                                {
                                    <img src="@portfolioAsset.FinancialAsset.IconPath" alt="Icon" class="img-fluid asset-icon">
                                }
                                else
                                {
                                    <i class="bi bi-cash asset-icon"></i>
                                }
                                <InputNumber @bind-Value="@portfolioAsset.AllocationPercentage" />
                                <button class="btn btn-danger ms-1" @onclick="()=>OnRemoveFinancialAsset(portfolioAsset)">X</button>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        <div class="row">
            <InputText id="description" @bind-Value="newPortfolio.Description" />
        </div>

        <!--Add Financial Asset Dropdown-->
        <div class="row-auto dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Financial Assets
            </button>

            <ul class="dropdown-menu">
                <!--Financial Asset List-->
                @foreach (FinancialAsset financialAsset in FinancialAssets)
                {
                    <button @onclick="()=>OnAddFinancialAsset(financialAsset)" type="button" class="list-group-item list-group-item-action d-flex justify-content-between">@financialAsset.Name</button>
                }
            </ul>
        </div>


        <!--Finish and submit-->
        <div class="row">
            <div class="col-auto">
                <button class="btn btn-primary" @onclick="()=>OnBackToHomeOverview(Pages.HomeView.Overview)">Back</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </EditForm>
</div>