@using PortfolioManagerWASM.Models

<div class="container-fluid p-4">

    <!--New Portfolio form-->
    <EditForm Model="@newPortfolio" OnValidSubmit="OnSubmitNewPortfolio">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!--Portfolio name-->
        <div class="row mb-4">
            <div class="col-auto align-self-center">
                <!--Icon-->
                <button class="btn dropdown-toggle p-0" type="button" data-bs-toggle="dropdown">
                    <img class="rounded-icon" src="@newPortfolio.IconPath" alt="Portfolio Icon">
                </button>

                <ul class="dropdown-menu">
                    @foreach (var icon in GetIconPaths())
                    {
                        <li class="icon-item" style="width:auto; display:inline-block; padding:0;margin:0">
                            <button class="dropdown-item">
                                <img src="@icon" class="rounded-icon" alt="Icon" @onclick="() => OnSelectIcon(icon)">
                            </button>
                        </li>
                    }
                </ul>
            </div>
            <div class="col">
                <small id="addFAHelp" class="form-text text-muted">Name your portfolio</small>
                <InputText class="h3 form-control" id="name" @bind-Value="newPortfolio.Name" />
            </div>
        </div>

        <!--Add Financial Asset Dropdown-->
        <div class="row-auto dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Financial Assets
            </button>
            <small id="addFAHelp" class="form-text text-muted ms-2">Add financial assets to your portfolio</small>

            <ul class="dropdown-menu">
                <!--Financial Asset List-->
                @foreach (FinancialAsset financialAsset in FilteredFinancialAssets)
                {
                    <li>
                        <button @onclick="()=>OnAddFinancialAsset(financialAsset)" type="button" class="list-group-item list-group-item-action d-flex justify-content-between">
                            <p class="m-2">@financialAsset.Name</p>
                            @if (financialAsset.IconPath != null && financialAsset.IconPath.Length > 0)
                            {
                                <img src="@financialAsset.IconPath" alt="Icon" class="img-fluid asset-icon m-2">
                            }
                            else
                            {
                                <i class="bi bi-cash asset-icon m-2"></i>
                            }
                        </button>
                    </li>
                }
            </ul>
        </div>

        <!--Portfolio composition-->
        <div class="row mt-2 mb-4">

            <!--Asset list-->
            <div class="col ms-4">
                @if (newPortfolio.PortfolioAssets.Count > 0)
                {
                    @foreach (PortfolioAsset portfolioAsset in newPortfolio.PortfolioAssets)
                    {
                        <div class="row align-items-center">
                            <!-- Name and icon -->
                            <div class="col-auto d-flex align-items-center">
                                <span class="me-2">@portfolioAsset.FinancialAsset.Name</span>
                                @if (!string.IsNullOrEmpty(portfolioAsset.FinancialAsset.IconPath))
                                {
                                    <img src="@portfolioAsset.FinancialAsset.IconPath" alt="Icon" class="img-fluid asset-icon" style="height: 24px; width: 24px;" />
                                }
                                else
                                {
                                    <i class="bi bi-cash asset-icon" style="font-size: 1.2rem;"></i>
                                }
                            </div>

                            <!-- Slider -->
                            <div class="col">
                                <SfSlider Type="SliderType.Default"
                                          Min="0"
                                          Max="100"
                                          Step="1"
                                          @bind-Value="@portfolioAsset.AllocationPercentage"
                                          ShowButtons="true">
                                    <SliderTicks SmallStep="10"
                                                 LargeStep="20"
                                                 Placement="Placement.After"
                                                 ShowSmallTicks="true" />
                                    <SliderTooltip IsVisible="true" ShowOn="TooltipShowOn.Always"></SliderTooltip>
                                </SfSlider>
                            </div>

                            <!-- Delete button -->
                            <div class="col">
                                <button class="btn btn-danger btn-sm" @onclick="()=>OnRemoveFinancialAsset(portfolioAsset)">x</button>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>

        <div class="row mb-2">
            <label for="description">
                <small id="addFAHelp" class="form-text text-muted">Description</small>
            </label>
            <input id="description"
                   @bind-value="@newPortfolio.Description"
                   @bind-value:event="oninput"
                   maxlength="40" />
            <div>@(newPortfolio.Description?.Length ?? 0)/40 characters</div>
        </div>

        <div class="row">
            <div class="col-auto">
                <label for="Accessibility-checkbox">Public</label>
                <InputCheckbox id="Accessibility-checkbox" @bind-Value="isPublic" />
            </div>
        </div>

        <!--Finish and submit-->
        <div class="row mt-4">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-primary" @onclick="()=>OnClickBackButton(Pages.HomeView.Overview)">Back</button>
            </div>
        </div>
    </EditForm>


</div>