@using PortfolioManagerWASM.Models
<h2>Portfolios</h2>
<div class="list-group">
    @foreach (Portfolio portfolio in PortfoliosBasicInfo)
    {
        <button class="btn justify-content-start collapsed"
                @onclick="() => OnSelectPortfolio(portfolio.PortfolioId)"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-@portfolio.PortfolioId"
                aria-expanded="false"
                aria-controls="collapse-@portfolio.PortfolioId">
            <div>
                <p class="mb-0">@portfolio.Name</p>
                <p class="mb-0"><small>@portfolio.Owner</small></p>
            </div>
            <div class="d-flex align-items-center">
                <span class="badge bg-body-secondary">
                    @if (portfolio.IconPath != null && portfolio.IconPath.Length > 0)
                    {
                        <img src="@(portfolio.IconPath)" alt="Icon">
                    }
                    else
                    {
                        <i class="bi bi-pie-chart asset-icon"></i>
                    }
                </span>
            </div>
        </button>

        <div class="collapse w-100" id="collapse-@portfolio.PortfolioId">
            <div class="accordion-body">
                <main class="col-9">
                    @if (PortfolioExpanded != null)
                    {

                        <div class="accordion-body">
                            <p>@PortfolioExpanded.Description</p>
                        </div>

                        <!--Portfolio charts-->
                        <article class="row" style="height:300px">
                            <ul class="col-auto">
                                @foreach (PortfolioAsset portfolioAsset in PortfolioExpanded.PortfolioAssets)
                                {
                                    <li class="d-flex align-items-center mb-3">
                                        <p class="m-2">@portfolioAsset.FinancialAsset.Name</p>
                                        @if (portfolioAsset.FinancialAsset.IconPath != null && portfolioAsset.FinancialAsset.IconPath.Length > 0)
                                        {
                                            <img src="@(@portfolioAsset.FinancialAsset.IconPath)" alt="Icon" class="img-fluid asset-icon">
                                        }
                                        else
                                        {
                                            <i class="bi bi-cash asset-icon"></i>
                                        }
                                        <p class="m-2">@portfolioAsset.AllocationPercentage</p>
                                    </li>
                                }
                            </ul>
                            <div class="col d-none d-md-flex">
                                <SfAccumulationChart Title="Asset composition">
                                    <AccumulationChartSeriesCollection>
                                        <AccumulationChartSeries Type="AccumulationType.Pie"
                                                                 DataSource="@ChartDataModel"
                                                                 XName="AssetName"
                                                                 YName="Allocation"
                                                                 InnerRadius="40%">
                                        </AccumulationChartSeries>
                                        <AccumulationChartTooltipSettings Enable="true">

                                        </AccumulationChartTooltipSettings>
                                    </AccumulationChartSeriesCollection>
                                </SfAccumulationChart>

                            </div>
                        </article>
                    }
                </main>



            </div>
        </div>

        @* <div class="collapse w-100" id="collapse-@financialAsset.AssetId">
            <div class="accordion-body">

                <EditForm Model="@financialAsset">

                    <!--Edit name-->
                    <td>
                        <InputText @bind-Value="financialAsset.Name" />
                    </td>

                    <!--Edit icon-->
                    <td>
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            <img class="rounded-icon" src="@financialAsset.IconPath" alt="Financial Asset Icon">
                        </button>

                        <ul class="dropdown-menu">
                            @foreach (var icon in GetIconPaths())
                            {
                                <li class="icon-item" style="width:auto; display:inline-block; padding:0;margin:0">
                                    <button class="dropdown-item">
                                        <img src="@icon" class="rounded-icon" alt="Icon" @onclick="() => OnSelectIcon(icon, financialAsset)">
                                    </button>
                                </li>
                            }
                        </ul>
                    </td>

                    <!--Description-->
                    <td>
                        <InputText @bind-Value="financialAsset.Description" />
                    </td>

                    <button class="btn btn-success mt-2" @onclick="() => OnUpdateFinancialAsset(financialAsset)">Save Changes</button>
                </EditForm>
            </div>
        </div> *@
    }
</div>


