@using Microsoft.AspNetCore.Authorization
@using PortfolioManagerWASM.Models
@using PortfolioManagerWASM.Services.IService
@inject IUserService userService
@inject IAssetService assetService
@attribute [Authorize]

@page "/"
<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">

        <aside class="col-3">
            <h2>Portfolios</h2>
            <ul>
                @foreach (Portfolio portfolio in Portfolios)
                {
                    <li class="row">
                        <p>@portfolio.Name</p>
                        <p>@portfolio.Author</p>
                    </li>
                }
            </ul>
        </aside>

        <main class="col-9">

            <h2>@activePortfolio.Name</h2>
            <p>@activePortfolio.Author</p>
            <p>@activePortfolio.Description</p>

            <article class="row">
                <img class="col-4 h-auto" src="" alt="Chart">
                <ul class="col-8">
                    @foreach (Asset asset in Assets)
                    {
                        <li class="d-flex align-items-center mb-3">
                            <p class="me-2">@asset.Name</p>
                            <img src="#" alt="Icon" class="img-fluid">
                        </li>
                    }
                </ul>
            </article>

        </main>

    </div>
</div>

<button type="button" class="btn btn-danger" onclick="@Logout">
    Logout
</button>
